.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav{
  display:flex;
  justify-content: space-between;
  color:grey;
  text-decoration: underline;
}
.nav :hover{
  cursor:pointer;
}
.sartre{
  text-align: left;
  /* padding-left: 64px; */
  color: tomato;
  font-size: 80px;
  font-weight:100;
}
body{
  font-family: sans-serif;
  margin: 100px;
}
.sub{
  text-align: left;
  /* padding-left: 64px; */
}

.bp{
  border-bottom: solid 1px lightgray;
  padding-bottom: 2rem;
  text-align: left;
}
.cont{
  color:tomato;
  text-align: right;
  font-weight:bold;
}
img{
width: 100%;
}
.copy{
  text-align: left;
  color: lightgrey;
  margin-left: 100px;
}
p::first-letter{
  color: lightgrey;
  font-size: 80px;
}
.date{
  color:lightgray;
}